.my-dates-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px; 
  margin: 0 auto;
}

.appointment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 400px;
  margin-top: 20px;
}

.form-group-calendar .react-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-top: 5%;
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.appointment-table th,
.appointment-table td {
  padding: 15px;
  border: 1px solid #ccc;
  text-align: left;
}

.appointment-table th {
  background-color: #fbd081;
}

.appointment-table button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #FFFEDB;
  color: #0E3863;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.appointment-table button:hover {
  background-color: #fbd081;
}

.form-group-calendar {
  max-width: 400px;
  margin: 20px auto;
}

.react-calendar {
  font-size: 16px;
  width: 100%;
  margin-top: 25px;
  
}

.citas-reservadas {
  width: 100%;
  margin-top: 20px;
}

.citas-reservadas h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.appointment-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}