body, html {
  height: 100%;
  margin: 0;
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; 
  max-width: 100vw; 
  padding: 410px;
  text-align: center;
  background-color: #f9f0d3e5;
}


.eyes-of-life-container {
  border-radius: 15px;
  padding: 20px;
  background-color: #f9f0d3e5;
  color: blue;
  margin-top: -150px; 
}


.eyes-of-life-logo {
  max-width: 100%;
  margin-top: -120px; 
}


.welcome-container {
  color: navy;
  margin-bottom: 2rem;
}


.welcome-container h3, .welcome-container h1 {
  margin-bottom: 0.5rem;
}


.galleries-container {
  background-color: #f9f0d3e5;
  color: blue;
}





.column {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}


.column img {
  width: calc(33.333% - 10px); 
  height: 270px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}


