/* EventsImages.css */

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.evento {
  font-size: 1.5em;
  letter-spacing: 2.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%; /* Establece un ancho fijo para mostrar tres eventos por fila */
  height: 400px; /* Ajusta según sea necesario para mantener proporciones */
  margin: 10px; /* Ajusta según sea necesario */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  color: #045ec4;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

@media (max-width: 768px) {
  .evento {
    width: 100%; /* Cambia a ancho completo en pantallas más pequeñas */
  }
}
